<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602173817794-8kugk6n1f58rmam9sl3sv18vi7dt2nnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602173817794-8kugk6n1f58rmam9sl3sv18vi7dt2nnn</string>
	<key>API_KEY</key>
	<string>AIzaSyBbMpYBbkeTLujcJh1SwJ61eFlfSs1gTe0</string>
	<key>GCM_SENDER_ID</key>
	<string>602173817794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.educenter.aisaranurzhan</string>
	<key>PROJECT_ID</key>
	<string>educenter-standart-5</string>
	<key>STORAGE_BUCKET</key>
	<string>educenter-standart-5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602173817794:ios:ab3c5410600606e72f0c5b</string>
</dict>
</plist>